:root {
  --primary-color: #b89b45; /* Darker yellow */
  --background-color: #fff9e6; /* Light yellow */
  --text-color: #192019; /* Complementary color for text */
  --box-color: #d9c98a; /* Box color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  background-color: var(--background-color);
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  background-color: var(--box-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ffa500 !important;
}
